xml/schema/input.xsd

<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:ex="http://xml.exciting-code.org/inputschemaextentions.xsd"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xsi:schemaLocation="http://xml.exciting-code.org/inputschemaextentions.xsd    http://xml.exciting-code.org/inputschemaextentions.xsd">
  <xs:include id="common" schemaLocation="common.xsd"/>
  <xs:include id="structure" schemaLocation="structure.xsd"/>
  <xs:include id="groundstate" schemaLocation="groundstate.xsd"/>
  <xs:include id="structureoptimization" schemaLocation="structureoptimization.xsd"/>
  <xs:include id="phonons" schemaLocation="phonons.xsd"/>
  <xs:include id="properties" schemaLocation="properties.xsd"/>
  <xs:include id="xs" schemaLocation="xs.xsd"/>
  <!-- root element starts here -->
  
  <xs:element ex:importance="essential" ex:unit="" name="input">
    <xs:annotation>
      <xs:documentation> The xml element <pre> input</pre> is the root element of the
          <exciting>exciting</exciting> input file. It must contain one element
        <pre>structure </pre> and the element <pre>groundstate </pre> . <p>
          <a href="http://exciting-code.org/input-file-format-overview">Find a minimal input file
            instance described here.</a>
        </p>
      </xs:documentation>
      <xs:appinfo> </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ex:importance="essential" ex:unit="" name="title" type="xs:string" minOccurs="1"
          maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Title of the input file.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ex:importance="essential" ex:unit="" ref="structure" maxOccurs="1" minOccurs="1"/>
        <xs:element ex:importance="essential" ex:unit="" ref="groundstate" maxOccurs="1"  minOccurs="0"/>
        
        <xs:element ex:importance="essential" ex:unit="" ref="structureoptimization" maxOccurs="1"        minOccurs="0"/>
        <xs:element ex:importance="essential" ex:unit="" ref="properties" maxOccurs="1"
          minOccurs="0"/>
        <xs:element ex:importance="expert" ex:unit="" ref="phonons" maxOccurs="1" minOccurs="0"/>
        <xs:element ex:importance="expert" ex:unit="" ref="xs" minOccurs="0" maxOccurs="1"/>
        <xs:element minOccurs="0" name="keywords" type="xs:string" maxOccurs="1">
          <xs:annotation>
            <xs:documentation> The keywords tag can contain a space separated list of keywords
              classifying the calculation for archiving purposes. It is not used by the
                <exciting>exciting</exciting> program. </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:all>
      <xs:attribute ex:importance="expert" ex:unit="" name="xsltpath" type="xs:anyURI"
        default="http://xml.exciting-code.org">
        <xs:annotation>
          <xs:appinfo> </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute ex:importance="expert" ex:unit="" name="scratchpath" type="xs:anyURI"
        use="optional">
        <xs:annotation>
          <xs:documentation> This is the path to scratch space where the eigenvector files
            EVECFV.OUT, EVECSV.OUT and OCCSV.OUT will be written. If the local directory is accessed
            via a network then scrpath can be set to a directory on a local disk</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>
