xml/schema/relax.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:ex="http://xml.exciting-code.org/inputschemaextentions.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xsi:schemaLocation="http://xml.exciting-code.org/inputschemaextentions.xsd    http://xml.exciting-code.org/inputschemaextentions.xsd">
    <xs:include id="common" schemaLocation="common.xsd"/>
    <xs:annotation>
        <xs:appinfo>
            <parent>/input</parent>
            <root>relax</root>
        </xs:appinfo>
    </xs:annotation>
    <xs:element ex:importance="essential" ex:unit="" name="relax">
        <xs:annotation>
            <xs:documentation>The element <elementref>relax</elementref> activates the optimization 
            of atomic positions at fixed lattice parameters.</xs:documentation>
        </xs:annotation>
        <xs:complexType>

            <xs:attribute ex:importance="essential" ex:unit="" name="outputlevel" default="normal">
                <xs:annotation>
                <xs:documentation> 
                Specify amount of information which is printed to files:
                <list>
                    <li>low    - minimal output is produced</li>
                    <li>normal - (default) standard information</li>
                    <li>high   - detailed output</li>
                </list>
                </xs:documentation>
                </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="low">
                  <xs:annotation>
                    <xs:appinfo>
                      <oldnr>0</oldnr>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="normal">
                  <xs:annotation>
                    <xs:appinfo>
                      <oldnr>1</oldnr>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="high">
                  <xs:annotation>
                    <xs:appinfo>
                      <oldnr>2</oldnr>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
            
            <xs:attribute ex:importance="essential" ex:unit="" name="method" type="xs:string" use="optional" default="mixed">
                <xs:annotation>
                    <xs:documentation>
                    Specify the method used for atomic relaxation: 
                    <list>
                      <li>"newton"   - Simple (Newton-like) method;</li>
                      <li>"harmonic" - Method based on the harmonic approximation, useful when the atomic configuration
                      is close to the optimized one and only a few degrees of freedom are allowed for atomic relaxation;</li>
                      <li>"bfgs"     - Limited memory algorithm for bound constrained optimization. Notice that, in some case, 
                      the "bfgs" method can require high accuracy in the calculation of the total energy. In this case, 
                      the default value of the attribute <attref>epsengy</attref> of the <elementref>groundstate</elementref> 
                      element should be reduced of one or two order of magnitude;</li>
                      <li>"mixed"    - Combines "newton" and "bfgs" methods. The optimization
                      is started using the "newton" method. When the maximum amplitude of the force acting on the atoms
                      is smaller then the value specified by <attref>epsforce0</attref> the "bfgs" method is used.</li>
                    </list>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute ex:importance="expert" name="maxsteps" type="xs:integer" use="optional" default="200">
                <xs:annotation>
                    <xs:documentation>
                    Maximum number of optimization steps.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            
            <xs:attribute ex:importance="expert" name="epsforce0" type="fortrandouble"  default="8.0d-2" use="optional">
                <xs:annotation>
                    <xs:documentation>Only used if <attref>method</attref>="mixed" is used.
                    Defines the value of maximum amplitude of the force acting on the atoms for which
                    the optimization method switches from "newton" to "bfgs".
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>            
            
            <xs:attribute ex:importance="essential" name="epsforce" type="fortrandouble" default="5.0d-5" use="optional">
                <xs:annotation>
                    <xs:documentation>
                    The optimization stops when the maximum amplitude of the force acting on the atoms is lower 
                    then the value specified by <attref>epsforce</attref>. Notice that high accuracy in the calculated
		    forces requires high accuracy in the calculated total energy (see the attribute <attref>epsengy</attref>
		    of the <elementref>groundstate</elementref> element).
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            
            <xs:attribute ex:importance="expert" name="tau0atm" type="fortrandouble"  default="0.2d0" use="optional">
                <xs:annotation>
                    <xs:documentation> Parameter determining the initial amplitude of atomic displacement 
                    for the "newton" method of atomic relaxation.
                    <p/>                     
                    At each step <inlinemath>m</inlinemath> of a structural optimization run,                     
                    the atom <inlinemath>\alpha</inlinemath> is displaced according to
                    <displaymath>
                      {\bf r}_{\alpha}^{m+1}={\bf r}_{\alpha}^m+\tau_{\alpha}^m
                       \left({ \bf F}_{\alpha}^m+{ \bf F}_{\alpha}^{m-1}\right),
                    </displaymath>
                    i.e., the magnitude of the displacement at the step <inlinemath>m</inlinemath> is proportional 
                    to <inlinemath>\tau_{\alpha}^m</inlinemath>. 
                    For the initial step, <inlinemath>\tau_{\alpha}^0</inlinemath> 
                    is set to <attref>tau0atm</attref>. 
                    If the forces of two subsequent optimization steps have the same sign,
                    <inlinemath>\tau_{\alpha}^m</inlinemath> is increased by <inlinemath>\tau_{\alpha}^0</inlinemath>. 
                    Otherwise, <inlinemath>\tau_{\alpha}^m</inlinemath> is reset to <inlinemath>\tau_{\alpha}^0</inlinemath>.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            
            <xs:attribute ex:importance="expert" name="taubfgs" type="fortrandouble" default="1.0d0" use="optional">
                <xs:annotation>
                  <xs:documentation>
                    Maximum atomic displacement for atomic relaxation when using the "bfgs" method.
                  </xs:documentation>
                </xs:annotation>
            </xs:attribute>
	    
            <xs:attribute ex:importance="expert" name="endbfgs" type="xs:string" default="newton" use="optional">
                <xs:annotation>
                  <xs:documentation>
                    When using the "bfgs" method, specifies the method employed for the relaxation if the "bfgs" scheme 
		    fails to converge.
                    <list>
                      <li>"newton"   - Simple (Newton-like) method;</li>
                      <li>"harmonic" - Method based on the harmonic approximation, useful when the atomic configuration
                      is close to the optimized one and only a few degrees of freedom are allowed for atomic relaxation.</li>
                    </list>
                  </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute ex:importance="essential" name="history" type="xs:boolean" default="false" use="optional">
              <xs:annotation>
                <xs:documentation> 
                If <pre>"true"</pre> the atomic configuration at each relaxation step is written in a history file
		which is generated in one of the formats specified in <attref>historyformat</attref>.
                </xs:documentation>
              </xs:annotation>
            </xs:attribute>

            <xs:attribute ex:importance="essential" name="addtohistory" type="xs:boolean" default="false" use="optional">
              <xs:annotation>
                <xs:documentation>
                  If <attref>history</attref> is <pre>"true"</pre>, this switch allows newly computed optimization steps to be
                  appended to a previously generated history file.
                </xs:documentation>
              </xs:annotation>
            </xs:attribute>

            <xs:attribute ex:importance="essential" name="historyformat" type="xs:string"  default="xyz" use="optional">
              <xs:annotation>
                <xs:documentation> 
                If <attref>history</attref> is <pre>"true"</pre>, the history file, containig atomic configurations at each
                optimization step, is generated in one of the following formats:
                <list>
                <li> <pre>"xyz"</pre> molecular format, where
                Line 1 contains the total number of atoms. 
                Line 2 contains the comment line here with total energy in eV. 
                Line 3 and following are atomic species, cartesian coordinates in Angstrom, and forces in eV/Angstrom.</li>
                <li> <pre>"gulp"</pre> format, which is useful to visualize crystal structure changes using the GDIS program.</li>
                </list>
                </xs:documentation>
            </xs:annotation>
            </xs:attribute>
            
        </xs:complexType>
    </xs:element>


</xs:schema>
