xml/schema/structure.xsd

<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:ex="http://xml.exciting-code.org/inputschemaextentions.xsd"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xsi:schemaLocation="http://xml.exciting-code.org/inputschemaextentions.xsd    http://xml.exciting-code.org/inputschemaextentions.xsd">
  <xs:include id="common" schemaLocation="common.xsd"/>
  <xs:annotation>
    <xs:appinfo>
      <parent>/input</parent>
      <root>structure</root>
    </xs:appinfo>
  </xs:annotation>
  <xs:element ex:importance="essential" ex:unit="" name="structure">
    <xs:annotation>
      <xs:documentation>This element contains all structural information, such as unit-cell
        parameters as well as type and position of each atom. The presence of the subelement
          <elementref>species</elementref> is necessary unless one wants to perform an empty-lattice
        calculation. The attribute <attref>speciespath</attref> must be
        specified.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ex:importance="essential" ex:unit="" name="crystal" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Defines the unit cell of the crystal via the 3 basis
              vectors.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:annotation>
              <xs:documentation>The unit cell is spanned by 3 base vectors that define the lattice
                coordinates.</xs:documentation>
            </xs:annotation>
            <xs:sequence>
              <xs:element ex:importance="essential" ex:unit="Bohr" name="basevect" minOccurs="3"
                maxOccurs="3" type="vect3d">
                <xs:annotation>
                  <xs:documentation>Defines one basis vector in Cartesian
                    coordinates.</xs:documentation>
                  <xs:appinfo>
                    <oldname>avec</oldname>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
            <xs:attribute ex:importance="essential" ex:unit="1" name="scale" type="fortrandouble"
              default="1.0d0">
              <xs:annotation>
                <xs:documentation>Scales all the lattice vectors by the same factor. This is useful
                  for varying the volume.</xs:documentation>
                <xs:appinfo>
                  <oldname>scale</oldname>
                </xs:appinfo>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute ex:importance="essential" ex:unit="" name="stretch" type="vect3d"
              default="1.0d0 1.0d0 1.0d0 ">
              <xs:annotation>
                <xs:documentation> Allows for an individual scaling of each lattice vector
                  separately. <pre>"1 1 1"</pre> means no scaling. </xs:documentation>
                <xs:appinfo>
                  <oldname>(sc1|sc2|sc3)</oldname>
                </xs:appinfo>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element ex:importance="essential" ex:unit="" name="species" minOccurs="0"
          maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Defines the atomic species, <it>i.e.</it>, the chemical element. Aatomic
              coordinates and, optionally, quantities relevant for magnetic calculations are defined
              in the subelement(s) atom.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element ex:importance="essential" ex:unit="" name="atom" minOccurs="1"
                maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Defines the position and other attributes of one atom in the
                    unit cell.</xs:documentation>
                  <xs:appinfo>
                    <oldname>noname</oldname>
                  </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute ex:importance="essential" ex:unit="lattice coordinates" name="coord"
                    type="vect3d" use="required">
                    <xs:annotation>
                      <xs:documentation>Atom position in lattice coordinates.</xs:documentation>
                      <xs:appinfo>
                        <oldname>atposl</oldname>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute ex:importance="expert" ex:unit="" name="bfcmt" type="vect3d"
                    default="0.0d0 0.0d0 0.0d0" use="optional">
                    <xs:annotation>
                      <xs:documentation>Muffin-tin external magnetic field in Cartesian
                        coordinates.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute ex:importance="expert" ex:unit="" name="mommtfix" type="vect3d"
                    default="0.0d0 0.0d0 0.0d0" use="optional">
                    <xs:annotation>
                      <xs:documentation>The desired muffin-tin moment for a Fixed Spin Moment (FSM)
                        calculation.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element ex:importance="expert" ex:unit="" name="LDAplusU" minOccurs="0">
                <xs:annotation>
                  <xs:documentation> The LADplusU element is used to specify the  J, U, and l
                    parameters of an atomic species. To switch on the LDAplusU feature one needs to set the
                      <attref>ldapu</attref> attribute of the groundstate element.
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute ex:importance="expert" ex:unit="" name="l" type="xs:integer"
                    default="-1">
                    <xs:annotation>
                      <xs:appinfo>
                        <oldname>notaname</oldname>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute ex:importance="expert" ex:unit="" name="U" type="fortrandouble"
                    default="0.0d0">
                    <xs:annotation>
                      <xs:appinfo>
                        <oldname>notaname</oldname>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute ex:importance="expert" ex:unit="" name="J" type="fortrandouble"
                    default="0.0d0">
                    <xs:annotation>
                      <xs:appinfo>
                        <oldname>notaname</oldname>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute ex:importance="essential" ex:unit="" name="speciesfile" type="xs:anyURI"
              use="required">
              <xs:annotation>
                <xs:documentation> Defines the file that contains the species definition. It is
                  looked up in the species directory specified by  <attref>speciespath</attref>. By default, the
                  name of the file is <it>element</it>.<pre>xml</pre>, <it>e.g.</it>, <pre>Ag.xml</pre>. </xs:documentation>
                <xs:appinfo>
                  <oldname>spfname</oldname>
                </xs:appinfo>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute ex:importance="output" ex:unit="" name="chemicalSymbol" type="xs:string"
              use="optional" default="">
              <xs:annotation>
                <xs:documentation> Optional attribute that may be used in visualization and by
                  converters. It is ignored by <exciting>exciting</exciting>.
                </xs:documentation>
                <xs:appinfo>
                  <oldname>spsymb</oldname>
                </xs:appinfo>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute ex:importance="output" ex:unit="" name="atomicNumber" type="xs:integer"
              use="optional">
              <xs:annotation>
                <xs:documentation> Optional attribute that may be used in visualization and by
                  converters. It is not used in <exciting>exciting</exciting>.
                </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute ex:importance="expert" ex:unit="Bohr" name="rmt" type="fortrandouble"
              default="-1.0d0" use="optional">
              <xs:annotation>
                <xs:appinfo>
                  <oldname>noreplace&gt;</oldname>
                </xs:appinfo>
                <xs:documentation> Defines the muffin-tin radius. This optional parameter allows to
                  override the value either specified in the species file or generated by automatic determination.
                   The muffin-tin radius defines
                  the region around the atomic nucleus where the wave function is expanded in terms
                  of atomic-like functions. In contrast, the interstitial region, <it>i.e.</it>, the 
                  region not belonging to any muffin-tin sphere, is described by planewaves.
                 </xs:documentation>
              </xs:annotation>
            </xs:attribute>
           

          </xs:complexType>
        </xs:element>
         <xs:element ex:importance="spacegroup" ex:unit="" name="symmetries" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:appinfo>
              <notindocu />
            </xs:appinfo>
            <xs:documentation>This element is used by the <pre-bf>spacegroup</pre-bf> tool to generate structures and
              supercells as defined by <elementref>lattice</elementref> from the knowledge of  Wyckoff positions and the space group. The space group is specified by 
              the attribute <attref>HermanMauguinSymbol</attref>. 
 
              </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:annotation>
              <xs:documentation> 
              </xs:documentation>
            </xs:annotation>
            <xs:sequence>
              <xs:element ex:importance="spacegroup" ex:unit="" name="lattice" maxOccurs="1" minOccurs="1">
                <xs:annotation>
                  <xs:documentation>The lattice element defines lattice from a,b,c, and
                    angles.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute ex:importance="spacegroup" ex:unit="Bohr" name="a" type="fortrandouble" use="required">
                    <xs:annotation>
                      <xs:appinfo>
                        <oldname>noreplace</oldname>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute ex:importance="spacegroup" ex:unit="Bohr" name="b" type="fortrandouble" use="required">
                    <xs:annotation>
                      <xs:appinfo>
                        <oldname>noreplace</oldname>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute ex:importance="spacegroup" ex:unit="Bohr" name="c" type="fortrandouble" use="required">
                    <xs:annotation>
                      <xs:appinfo>
                        <oldname>noreplace</oldname>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute ex:importance="spacegroup" ex:unit="Degree" name="ab" type="fortrandouble" use="required" />
                  <xs:attribute ex:importance="spacegroup" ex:unit="Degree" name="ac" type="fortrandouble" use="required" />
                  <xs:attribute ex:importance="spacegroup" ex:unit="Degree" name="bc" type="fortrandouble" use="required" />
                  <xs:attribute ex:importance="spacegroup" ex:unit="" name="ncell" type="integertriple" use="optional" default="1 1 1">
                    <xs:annotation>
                      <xs:documentation>Number of repeated cells in each
                        direction.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute ex:importance="spacegroup" name="scale" default="1" use="optional" type="fortrandouble">
                    <xs:annotation>
                      <xs:documentation>Scales all the lattice vectors by the same factor. This is
                        useful for varying the volume.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute ex:importance="spacegroup" ex:unit="" name="stretch" type="vect3d" default="1.0d0 1.0d0 1.0d0 ">
                    <xs:annotation>
                      <xs:documentation> Allows for an individual scaling of each lattice vector
                        separately. <pre>"1 1 1"</pre> means no scaling. </xs:documentation>
                      <xs:appinfo>
                        <oldname>(sc1|sc2|sc3)</oldname>
                      </xs:appinfo>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element ex:importance="spacegroup" ex:unit="" name="WyckoffPositions" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ex:importance="spacegroup" ex:unit="" name="wspecies" maxOccurs="unbounded" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation />
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element ex:importance="spacegroup" ex:unit="" name="wpos" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute ex:importance="spacegroup" ex:unit="" name="coord" type="vect3d" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute ex:importance="spacegroup" ex:unit="" name="speciesfile" type="xs:string" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute ex:importance="spacegroup" ex:unit="" name="HermannMauguinSymbol" type="xs:string" use="required">
              <xs:annotation>
                <xs:documentation>Herman Mauguin symbol giving the spacegroup</xs:documentation>
                <xs:appinfo>
                  <oldname>hrmg</oldname>
                </xs:appinfo>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute ex:importance="spacegroup" ex:unit="" name="HallSymbol" type="xs:string" >
            <xs:annotation>
                <xs:documentation>
                
                </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute ex:importance="spacegroup" ex:unit="" name="SchoenfliesSymbol" type="xs:string" >
            <xs:annotation>
                <xs:documentation>
                </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute ex:importance="spacegroup" ex:unit="" name="spaceGroupNumber" type="xs:string" >
            <xs:annotation>
                <xs:documentation>
                </xs:documentation>
                </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
            </xs:sequence>
      <xs:attribute ex:importance="essential" ex:unit="" name="speciespath" type="xs:anyURI"
        use="required">
        <xs:annotation>
          <xs:documentation> The path to the directory containing the species files. Alternatively,
            it can be defined as an HTTP URL, in this case the <a
              href="http://exciting-code.org/wget"> wget </a> utility must be installed. </xs:documentation>
          <xs:appinfo>
            <oldname>sppath</oldname>
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute ex:importance="expert" ex:unit="" name="molecule" type="xs:boolean"
        default="false">
        <xs:annotation>
          <xs:documentation> If <pre>"true"</pre>, a calculation for an isolated molecule is
            performed. In this case, the atomic positions specified by the
              <elementref>atom</elementref> subelement of the <elementref>species</elementref>
            element must be given in cartesian coordinates. The lattice vectors are set up
            automatically as <displaymath>{\bf A}^{(i)}=A_i\,\,\hat{\bf e}^{(i)} \qquad
              i=1,2,3</displaymath> with <displaymath>A_i=\max_{\alpha,\beta}\left|{
              a}^{(\alpha)}_i-{a}^{(\beta)}_i\right| +d_{\rm vac}</displaymath> where
              <inlinemath>{a}_i^{(\alpha)} </inlinemath> is the catesian component of the atom
            labeled by <inlinemath>\alpha</inlinemath> in the <inlinemath>i</inlinemath>-th
            direction specified by the unit vector <inlinemath>\hat{\bf e}^{(i)}</inlinemath>.
            Furthermore, <inlinemath>d_{\rm vac}</inlinemath> represents the size of the vacuum
            around the molecule as defined by the attribute <attref>vacuum</attref>.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute ex:importance="expert" ex:unit="" name="rmtapm" type="vect2d"
        default="0.25d0 0.95d0">
        <xs:annotation>
          <xs:documentation> This attribute assigns the two parameters governing the automatic
            generation of the muffin-tin radii. When the attribute <attref>autormt</attref> is set
            to <pre>"true"</pre>, the muffin-tin radii are determined according to the following
            expression <displaymath>R_i\propto 1+\zeta|Z_i|^{1/3}, </displaymath> where
              <inlinemath>Z_i</inlinemath> is the atomic number of the <inlinemath>i</inlinemath> th
            species, <inlinemath>\zeta</inlinemath> is stored in <attref>rmtapm</attref>(1). The
            distance between the muffin-tin speheres is determined by the value of
              <attref>rmtapm</attref>(2): When <attref>rmtapm</attref>(2)=1, the closest muffin-tin
            spheres will touch each other. </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute ex:importance="expert" ex:unit="Bohr" name="vacuum" type="fortrandouble"
        default="10.0d0">
        <xs:annotation>
          <xs:documentation>Determines the size of the vacuum around the molecule, see the
              <attref>molecule</attref> attribute.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute ex:importance="expert" ex:unit="Bohr" name="epslat" type="fortrandouble"
        default="1.0d-6">
        <xs:annotation>
          <xs:documentation>This attribute defines the accuracy up to which two vectors can be
            considered numerically identical. Vectors with lengths less than this are considered
            zero.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute ex:importance="expert" ex:unit="" name="autormt" type="xs:boolean"
        default="false">
        <xs:annotation>
          <xs:documentation> If <pre>"true"</pre>, the muffin-tin radius of each species is
            automatically set according to the variables specified by the attribute
              <attref>rmtapm</attref>. </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute ex:importance="expert" ex:unit="" name="primcell" type="xs:boolean"
        default="false">
        <xs:annotation>
          <xs:documentation> If <pre>"true"</pre>, the primitive unit cell is determined
            automatically from the conventional cell defined by the basis vectors given by the
              <elementref>basevect</elementref> elements. The primitive unit cell is determined by
            searching for lattice vectors among all vectors connecting atomic sites and choosing the
            three shortest ones which produce a unit cell with non-zero volume. </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute ex:importance="expert" ex:unit="" name="tshift" type="xs:boolean" default="true">
        <xs:annotation>
          <xs:documentation> If <pre>"true"</pre>,  the crystal is shifted such that
            the atom closest to the origin is exactly at the origin. </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>
