xml/schema/structureoptimization.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:ex="http://xml.exciting-code.org/inputschemaextentions.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xsi:schemaLocation="http://xml.exciting-code.org/inputschemaextentions.xsd    http://xml.exciting-code.org/inputschemaextentions.xsd">
    <xs:include id="common" schemaLocation="common.xsd"/>
    
    <xs:element ex:importance="essential" ex:unit="" name="structureoptimization"  >
        <xs:annotation>
            <xs:documentation>The structure optimization element triggers if present a geometry
                relaxation.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:annotation>
                <xs:documentation> Structural optimization run. Atomic positions written to
                    <pre_ns>geometry.xml</pre_ns> . </xs:documentation>
            </xs:annotation>
            <xs:attribute ex:importance="essential" ex:unit="" ref="epsforce" default="5.0d-5">
                <xs:annotation>
                    <xs:documentation>Convergence tolerance for the forces during a structural
                        optimization run.</xs:documentation>
                    <xs:appinfo>
                        <olddefault default="5.0d-4"/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute ex:importance="expert" ex:unit="" name="tau0atm" type="fortrandouble"
                default="0.2d0">
                <xs:annotation>
                    <xs:documentation> The step size to be used for structural optimization <p/> The
                        position of atom <inlinemath>\alpha</inlinemath> is updated on step
                        <inlinemath>m</inlinemath> of a structural optimization run using
                        <displaymath>{\bf r}_{\alpha}^{m+1}={\bf r}_{\alpha}^m+\tau_{\alpha}^m \left({
                            \bf F}_{\alpha}^m+{ \bf F}_{\alpha}^{m-1}\right),</displaymath> where
                        <inlinemath>\tau_{\alpha}</inlinemath> is set to <pre>tau0atm</pre> for
                        <inlinemath>m=0</inlinemath> , and incremented by the same amount if the atom is
                        moving in the same direction between steps. If the direction changes then
                        <inlinemath>\tau_{\alpha}</inlinemath> is reset to <pre>tau0atm</pre> .
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute ex:importance="essential" ex:unit="" name="resume" type="xs:boolean"
                default="false">
                <xs:annotation>
                    <xs:documentation> Resumption of structural optimization run using density in
                        <pre>STATE.OUT</pre> but with positions from <pre>input.xml</pre> .
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    

</xs:schema>
